
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
      <br>
      <h1> Login </h1>
      <br>
      <%= form_for @user, url: "/sessions", method: "post" do |f| %>
          <div class="layout">
            <label for f.text_field> Email </label>
            <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
          </div>
          <div class="layout">
            <label for f.password_field> Password </label>
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
          </div>
          <div class="center">
          <%= f.submit "Log In",:class => "btn btn-primary" %>
          </div>
      <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>
