<br>
<!-- indicators -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <!-- wrapper for sliders-->
  <div class="carousel-inner">

    <div class="carousel-item active">
      <a href="http://localhost:3000/cities/1"><img class="d-block w-100" src="http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/field/image/golden-gate-bridge-1030999_1440.jpg"></a>
        <div class="container">
          <div class="carousel-caption">
            <h1>San Francisco</h1>
            <p>Visiting The Golden Gate Bridge</p>
          </div>
        </div>
     </div>

    <div class="carousel-item">
      <a href="http://localhost:3000/cities/2"><img class="d-block w-100" src="http://www.manfrottoschoolofxcellence.com/wp-content/uploads/2016/03/header-crop-1440x700.jpg"></a>
      <div class="carousel-caption">
        <h1>New York</h1>
        <p>Walking The Streets That Never Sleep</p>
      </div>
    </div>

    <div class="carousel-item">
      <a href="http://localhost:3000/cities/3"><img class="d-block w-100" src="https://www.adventuresports.ae/wp-content/uploads/2015/02/H_wakebaord_001.jpg" alt="Third slide">
        <div class="carousel-caption">
          <h1>Miami</h1>
          <p>Wake Boarding In The Summer</p>
        </div>
    </div>
</div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
