// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .portrait {
//   position: absolute;
//   margin-bottom: 20px;
//   line-height:1;
//   top:0;
//   left:0;
//   min-width:100%;
//   min-height: 500px;
//   max-height: 600px;
// }
// #header{
//   background-color: #a38e56;
// }
//
.round-image-50 {
  width:800px;
}
a{
  font-size: 1.8rem;
}
.header{
  font-size:3rem;
  color:#296cd8;
  margin-left: 500px;
}
.sitewide-header{
  border-radius: 1px solid black;
}
