// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.justify{
  text-align: justify;
}
.header{
  text-decoration: underline;
}
.text_area_form-control {
  width: 100%;
  height:200%;
}
