// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.justify{
  text-align: justify;
  font-size:2rem;
}
.header{
  font-size:3rem;
  color:#296cd8;
}
.center{
  margin-left: 120px;
}
.layout{
  margin:5px;
}
.form-control{
  font-size:2rem;
  min-width:100%;
}
