// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center{
  margin-left: 120px;
}
.layout{
  margin:5px;
}
.profile_info{
  margin-top: 10px;
}
.content{
  padding: 5px;
}
.form-control{
  font-size:2rem;
}
