// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center{
  margin-left: 120px;
}
.layout{
  margin:5px;
}
.profile_info{
  margin-top: 10px;
}
.content{
  padding: 5px;
}

.carousel{
  position: absolute;
  margin-bottom: 20px;
  line-height:1;
  top:0;
  left:0;
  min-width:100%;
  min-height: 500px;
  max-height: 600px;
}
.form-control{
  font-size:2rem;
}
#notice{
  font-size: medium;
  color: red;
}

.city_names_carousel{
  color: blue;
}
.profile_header{
  border-radius: 20px;
  padding:5px;
  padding-left: 60px;
  margin:0 auto;
}
.title{
  font-style: italic;
  color:blue;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
